<div class="header"><%=name%></div>
<div class="node-icon" title="<%=description%>"></div>
<%date=new Date(startDate);%>
<div class="footer"><%=date.getDate()+"/"+(date.getMonth()+1)+"/"+date.getFullYear()%></div>
